.Rproj.user
.Rhistory
.RData
.Ruserdata
code/data_gathering_code/source_gameday_batters_SQL_update.R
code/data_gathering_code/source_hit_tracker_update.R
code/data_gathering_code/source_pitchRx_SQL_update.R
code/data_gathering_code/source_Statcast_SQL_update.R
code/data_gathering_code/source_Statcast_update.R

data/barrel_data.rds

code/data_gathering_code/updating_pitchRx_SQL_database.R

plots/woba_daily_mean_top20.png

plots/woba_3_day_weighted_mean_top12_2017_1.png

plots/woba_3_6_day_mean_top20_2017_1.png

plots/woba_3_6_day_mean_top20_2017_10.png

plots/woba_3_6_day_mean_top20_2017_11.png

plots/woba_3_6_day_mean_top20_2017_2.png

plots/woba_3_6_day_mean_top20_2017_3.png

plots/woba_3_6_day_mean_top20_2017_4.png

plots/woba_3_6_day_mean_top20_2017_5.png

plots/woba_3_6_day_mean_top20_2017_6.png

plots/woba_3_6_day_mean_top20_2017_7.png

plots/woba_3_6_day_mean_top20_2017_8.png

plots/woba_3_6_day_mean_top20_2017_9.png

plots/woba_3_day_weighted_mean_top12_2017_1.pdf
plots/woba_daily_mean_top20_2017_4.png

plots/woba_daily_mean_top20_2017_3.png

plots/woba_daily_mean_top20_2017_2.png

plots/woba_daily_mean_top20_2017_1.png

plots/woba_daily_mean_top20_2017.png

plots/woba_3day_mean_top20_2017_1.png

plots/plot3.png

plots/woba_daily_mean_top20_2018_2018-08-08.png
data/statcast_db_rebuilt.sqlite3
data/statcast_db_rebuilt_chunk.sqlite3
data/statcast_update_comb.rds
